<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>RestaurantMain</display-name>
  
     <filter>
	   <filter-name>OpenSessionInViewFilter</filter-name>
	   <filter-class>
	    org.springframework.orm.hibernate5.support.OpenSessionInViewFilter
	   </filter-class>
	   <init-param>
		    <param-name>sessionFactoryBeanName</param-name>
		    <param-value>sessionFactory</param-value>
	   </init-param>
	   <init-param>
            <param-name>singleSession</param-name>
            <param-value>true</param-value>           
	   </init-param>
	   <init-param>
	        <param-name> flushMode </param-name>
	   		<param-value>AUTO </param-value>        
	   </init-param>
	</filter>
  
    <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:cn/xy/xml/bean1.xml</param-value>
  </context-param>
  
  <servlet> 
    <servlet-name>AuthImage</servlet-name> 
    <servlet-class>cn.xy.action.AuthImage</servlet-class> 
    </servlet> 
    <servlet-mapping> 
    <servlet-name>AuthImage</servlet-name> 
    <url-pattern>/authImage</url-pattern> 
  </servlet-mapping>
 
   <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>*.action</url-pattern>
  </filter-mapping>
  
  <filter>    
   <filter-name>SessionInvalidate</filter-name>    
   <filter-class>cn.xy.interceptor.SessionCheckFilter</filter-class>  
   <init-param>    
     <param-name>checkSessionKey</param-name>  
     <param-value>username</param-value>    
   </init-param>    
   <init-param>    
     <param-name>redirectURL</param-name>
     <param-value>/page/login.jsp</param-value>    
   </init-param>    
   <init-param>    
     <param-name>notCheckURLList</param-name>
     <param-value>/page/login.jsp,/h5/modify.jsp</param-value>    
   </init-param>
   </filter>
   
   <filter>    
   <filter-name>IdentityFilter</filter-name>    
   <filter-class>cn.xy.interceptor.IDentityFilter</filter-class>  
   <init-param>    
     <param-name>checkSessionInfo</param-name>  
     <param-value>name</param-value>    
   </init-param>    
   <init-param>    
     <param-name>redirectURL</param-name>
     <param-value>/page/login.jsp</param-value>    
   </init-param>
   <init-param>    
     <param-name>notCheckURL</param-name>
     <param-value>/page/login.jsp,/h5/modify.jsp</param-value>    
   </init-param>    
   </filter>    
   
   <filter-mapping>    
   <filter-name>SessionInvalidate</filter-name>  
   <url-pattern>*.jsp</url-pattern>    
   </filter-mapping>
   
   <filter-mapping>    
   <filter-name>IdentityFilter</filter-name>  
   <url-pattern>*.jsp</url-pattern>    
   </filter-mapping>
  
 
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>